body {
    width: 800px; 
    margin: 0 auto;
}

img {
    size: 200px 200px;
}

h1, h2 {
    align-items: center;
}

style {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}